body { margin:10px; padding:0; font-family:Arial, Helvetica, sans-serif;}
	 ul { margin:0; padding:5px; display:inline-table; list-style:none; }
	 li{ width: 150px; display:inline; float:left; background:url(../images/step_orange_green.gif) no-repeat -50px bottom; height:41px; line-height:41px; font-size:11px; padding:0 30px 0 25px; position:relative; }
	 li span{ margin:0px; z-index:2000; background:url(../images/step_orange_green.gif) no-repeat left bottom; display:block; position:absolute; height:41px; line-height:41px; width:13px; top:0; left:-10px; padding:0;}
	 li.inprogress { background-position:-50px 0px} 
	 li.inprogress span,  li.lastinprogress span{background-position:left 0px }
	 li.done {background-position: -50px -41px}
	 li.done span,  li.ldone span {background-position:left -41px }
	 li.first,  li.done,  li.inprogress,  li.ldone,  li.lastinprogress  { color:#FFF;}
	 li.first {background-position: -20px 0px }
	 li.fdone { background-position: -20px -41px  }
	 li.last {background-position: right bottom }
	 li.lastinprogress { background-position: right 0}
	 li.ldone { background-position: right -41px}
	 li { font-size: 12px; font-weight: bold;}